<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Setup Data</title>
</head>

<body>
    <% for(let i=0; i<data.length;i++) { %>
    <div>
        <h4 class="english"><%= data[i].english %></h4>
        vietnamese <input type="text" name="<%=data[i].english%>-vietnamese" value="<%=data[i].vietnamese%>">
        spell <input type="text" name="<%=data[i].english%>-spell" value="<%=data[i].spell%>">
        <%for (let j = 0; j<data[i].icons.length;j++){%>
            <input type="radio" id="<%=data[i]%>-icons-<%=j%>" 
            name="<%=data[i].english%>-icons" 
            value="<%=data[i].icons[j]%>"
            checked>
            <img src="<%=data[i].icons[j]%>" width="100px" height="100px">
        <%}%>
        <input name="<%=data[i].english%>-audio" value="<%=data[i].audio%>" hidden></input>
    </div>
    <%}%>
    <input name="page" value="<%=page%>" hidden></input>
    <input name="limit" value="<%=limit%>" hidden></input>
    <button id="submit">Submit</button>
    <script>
        const data = $(".english")
        const words = []
        for(let i  =0;i<data.length;i++)
        {
            words.push(data[i].innerText)
        }
        const postData = []
        $("#submit").click(()=>{
            for(let i=0;i<words.length;i++)
            {
                const english = words[i];
                const icon  = $(`input[name='${words[i]}-icons']:checked`).val();
                const audio  = $(`input[name='${words[i]}-audio']`).val();
                const vietnamese  = $(`input[name='${words[i]}-vietnamese'`).val();
                const spell  = $(`input[name='${words[i]}-spell'`).val();
                if(vietnamese)
                {
                    $.ajax({
                    url: 'http://localhost:2223/api/vocabulary',
                    headers: {
                        'Authorization':'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbklkIjoiNWZlYjM2Nzc2N2I4OGQyM2ZjMzU5NDUwIiwiaXNBZG1pbiI6dHJ1ZSwiaXNBY2Nlc3MiOnRydWUsImlhdCI6MTYwOTgzNzk5NywiZXhwIjoxNjQxMzczOTk3fQ.fNKU-IOg52JWDir8NUqDSK40ETNti2zRKKrnn7UkruU',
                        'Content-Type':'application/x-www-form-urlencoded',
                        'Access-Control-Allow-Origin': "*"
                    },
                    crossDomain: true,
                    dataType: 'json',
                    method: 'POST',
                    data: {
                        icon,
                        audio, 
                        vietnamese,
                        english,
                        spell
                    },
                    success: function(data){
                        console.log(`${words[i]} success`);
                    },
                    error: function(error)
                    {
                        console.log(`${words[i]} error`);
                    }
                });
                }
            }
            const page  = $(`input[name='page'`).val();
            const limit  = $(`input[name='limit'`).val();
            console.log(page, limit)
            window.location.href = `http://localhost:2223?page=${parseInt(page)+1}&limit=${limit}`;
        })
    </script>
</body>

</html>